#large-main-picture {
	height: 50%;
	width: 80%;
}

#small-main-picture {
	height: 64px;
	width: 64px;
}

#exercise-pic {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-height: 500px;
	max-width: 1500px;
}

.select-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

#workout-thumbnail {
	width: 60px;
}